{% extends "base.html" %} {% block title %}Signup{% endblock %} 

{% block content %}

<form method="POST" style="padding-left: 7.5%; padding-right: 7.5%;">
    <h3 align="center"> Sign up</h3>
    <div class="form-group">
        <label for="username">Username </label>
        <input type="type" class = "form-control" id="username" name="username" placeholder="Enter username" 
        />
    </div>
    <br />
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class = "form-control" id="name" name="name" placeholder="Enter Name" />
    </div>
    <br />
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class = "form-control" id="password1" name="password1" placeholder="Enter Password" />
    </div>

    <br />

    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class = "form-control" id="password2" name="password2" placeholder="Confirm your Password" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>

{% endblock %}
