{% extends "base.html" %} {% block title %}Signup{% endblock %} 

{% block content %}

<form method="POST">
    <h3 align="center"> Sign up</h3>
    <div id="form-group">
        <label for="username">Username </label>
        <input type="username" class = "form-control" id="user" name="user" placeholder="Enter username" />
    </div>

    <div id="form-group">
        <label for="name">Name</label>
        <input type="text" class = "form-control" id="name" name="name" placeholder="Enter Name" />
    </div>

    <div id="form-group">
        <label for="name">Name</label>
        <input type="text" class = "form-control" id="name" name="name" placeholder="Enter Name" />
    </div>

    
</form>

{% endblock %}
